:root {
  --primary-color: #425b84;
  --secondary-color: #5b7bb4;
  --max-width: 110rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 5rem;
}
h1 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}

.main-header {
  background: var(--secondary-color);
  padding: 6.4rem 0;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

.timeline__list {
  background-color: var(--primary-color);
  padding: 5rem 0;
}

/* Timeline line */
.timeline__item {
  list-style: none;
  position: relative;
  width: 0.6rem;
  margin: 0 auto;
  padding-top: 5rem;
  background-color: #fff;
}

/* Boxes  */
.timeline__box {
  position: relative;
  bottom: 0;
  width: 40rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}

/* Right side */
.timeline__item:nth-child(odd) .timeline__box {
  left: 4rem;
  transform: translateX(20rem);
}

/* Left side */
.timeline__item:nth-child(even) .timeline__box {
  left: -43.6rem;
  transform: translateX(-20rem);
}

/* Show boxes */
.timeline__item.show .timeline__box {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* Dots */
.timeline__item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: inherit;
  transform: translateX(-50%) scale(0);
  border-radius: 50%;
  transition: all 0.3s;
}

.timeline__item.show::after {
  background-color: var(--secondary-color);
  transform: translateX(-50%) scale(1);
}

/* Arrows base */
.timeline__box::before {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Right Side Arrows */
.timeline__item:nth-child(odd) .timeline__box::before {
  left: -1.5rem;
  border-width: 0.8rem 1.6rem 0.8rem 0;
  border-color: transparent var(--secondary-color) transparent transparent;
}

/* Left Side Arrows */
.timeline__item:nth-child(even) .timeline__box::before {
  right: -1.5rem;
  border-width: 0.8rem 0 0.8rem 1.6rem;
  border-color: transparent transparent transparent var(--secondary-color);
}

/* Media Queries */
@media (max-width: 56.25em) {
  /* 900px */
  .timeline__box {
    width: 25rem;
  }

  /* Left side */
  .timeline__item:nth-child(even) .timeline__box {
    left: -28.4rem;
  }
}

@media (max-width: 37.5em) {
  /* 600px */
  .timeline__item {
    margin-left: 2rem;
  }

  .timeline__box {
    width: calc(100vw - 9rem);
  }

  /* Left side */
  .timeline__item:nth-child(even) .timeline__box {
    left: 4rem;
  }

  /* Left Side Arrows */
  .timeline__item:nth-child(even) .timeline__box::before {
    left: -1.5rem;
    border-width: 0.8rem 1.6rem 0.8rem 0;
    border-color: transparent var(--secondary-color) transparent transparent;
  }
}
